{% extends 'base.html.twig' %}

{% block title %}Liste de toutes les plantes{% endblock %}




{% block body %}
    <h1 class="text-center">Liste de toutes les plantes</h1>
  <div class="text-center">
    <div >
        <div class="d-inline-block">
            <div class="row">
                {% for plant in plants %}
                    <div class="col-md-3 col-sm-6 mb-4 mx-auto">
                        <div class="card h-100">
                            <img src="/img/{{plant.getimg()}}" class="card-img-top" alt="...">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ plant.PlantName }}</h5>
                                <p class="card-text">{{ plant.Description }}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{ plant.getStock() }}</li>
                                <li class="list-group-item">Prix: {{ plant.getPrix() }}</li>
                                <li class="list-group-item"><a href="{{ path('Plant_show', {'id': plant.id}) }}" ,button class="btn btn-primary">Show</a></li>
                            </ul>
                        </div>
                       
                    </div>
                    {% if loop.index % 3 == 0 %}
                        </div><div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
  </div>  
{% endblock %}
