{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block body %}
    <h1>Galerie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ galerie.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ galerie.Description }}</td>
            </tr>
            <tr>
                <th>Publiee</th>
                <td>{{ galerie.Publiee ? 'Yes' : 'No' }}</td>
            </tr>
            
        </tbody>
    </table>

    <a href="{{ path('app_galerie_index') }}", button class="btn btn-primary">back to list</a>

    <a href="{{ path('app_galerie_edit', {'id': galerie.id}) }}", button class="btn btn-primary">edit</a>

    {{ include('galerie/_delete_form.html.twig') }}





{% endblock %}
